@font-face {}

html, body {
  width: 100%;
  margin: 0;
}

body {
  min-width: 320px;
  background-color: #fff;
  /* object-fit: contain; */
}

main {
  position: relative;
  height: 8203px;
  overflow: hidden;
  /* display: block; */
}

h1 {
  font-family: MyriadPro;
  line-height: normal;
  font-size: 51px;
  text-transform: uppercase;
}

h2 {}

h3 {
  text-transform: uppercase;
  font-family: MyriadPro;
  font-style: SemiCn;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #050505;
}

h4 {
  font-family: MyriadPro;
  font-style: Semibold;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.2px;
  color: #191919;
}

ul {
  font-family: MyriadPro;
  line-height: 30px;
  font-size: 16px;
  letter-spacing: 0.16px;
  color: #191919;
}

h1, h2, h3, h4, ul, p {
  z-index: 12;
}

img {
  display: block;
}

.main__button_blue {
  position: absolute;
  z-index: 12;
}

.main__back {
  /* background: url('../img/back-mobile.svg') 0 0 no-repeat; */
  background: linear-gradient(0deg, #F7F8F9, #F7F8F9);
  width: 100%;
  z-index: -1;
}

.main__back_1 {
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.main__back_2 {
  left: 0%;
  right: 0%;
  top: 78.91%;
  bottom: 15.42%;
}

.main__back_3 {
  left: -15.2%;
  right: -15.47%;
  top: 96.56%;
  bottom: 0%;
}

.main__who-did-it {
  color: #FFFFFF;
}

.main__who-did-it_h1 {
  left: 20%;
  right: 56.15%;
  top: 3.79%;
  bottom: 94.71%;
}

.main__who-did-it_p {
  font-family: MyriadPro;
  line-height: 24px;
  font-size: 20px;
  letter-spacing: 0.2px;
  left: 20%;
  right: 58.85%;
  top: 5.16%;
  bottom: 93.97%;
}

.main__element {
  position: absolute;
  background-size: contain !important;
}

.main__picture {
  position: absolute;
  background-size: contain !important;
}

.main__oval {
  position: absolute;
  background-size: contain !important;
  /* background-size: cover !important; */
}

.main__oval1 {
  left: -13.18%;
  right: 94.95%;
  top: 3.9%;
  bottom: 91.83%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval2 {
  left: 8.12%;
  right: 53.07%;
  top: 0.44%;
  bottom: 90.48%;
  background: url('../img/oval2.svg') 0 0 no-repeat;
  z-index: 2;
}

.main__oval3 {
  left: 22.45%;
  right: 71.56%;
  top: 8.59%;
  bottom: 90%;
  background: url('../img/oval2.svg') 0 0 no-repeat;
  z-index: 3;
}

.main__oval4 {
  left: 49.79%;
  right: 19.64%;
  top: 3.49%;
  bottom: 89.36%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval5 {
  left: 77.19%;
  right: 13.73%;
  top: 1.9%;
  bottom: 95.97%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval6 {
  left: 90.21%;
  right: -8.44%;
  top: 4.86%;
  bottom: 90.87%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval7 {
  left: 27.45%;
  right: 59.69%;
  top: 10.68%;
  bottom: 86.31%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval8 {
  left: 52.86%;
  right: 5.05%;
  top: 12.64%;
  bottom: 77.51%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
}

.main__oval9 {
  left: 51.3%;
  right: 24.27%;
  top: 25.49%;
  bottom: 68.79%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .68;
}

.main__oval10 {
  left: -3.39%;
  right: 51.35%;
  top: 28.92%;
  bottom: 58.91%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .7;
}

.main__oval11 {
  left: 47.92%;
  right: 0.05%;
  top: 43.96%;
  bottom: 43.86%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .7;
}

.main__oval12 {
  left: 6.09%;
  right: 75.16%;
  top: 50.19%;
  bottom: 45.42%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .7;
}

.main__oval13 {
  left: 79.84%;
  right: -4.27%;
  top: 57.75%;
  bottom: 36.54%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .68;
}

.main__oval14 {
  left: 2.66%;
  right: 41.88%;
  top: 61.21%;
  bottom: 25.81%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .7;
}

.main__oval15 {
  left: 49.95%;
  right: -5.42%;
  top: 75.18%;
  bottom: 11.84%;
  background: url('../img/oval1.svg') 0 0 no-repeat;
  opacity: .7;
}

.main__oval16 {
  left: -12.08%;
  right: 87.66%;
  top: 87.99%;
  bottom: 6.29%;
  background: url('../img/oval.svg') -701px 0 no-repeat;
  opacity: .68;
}

.main__path {
  left: 13.75%;
  right: 14.06%;
  top: 6.04%;
  bottom: 33.17%;
  background: url('../img/path-1.svg') 0 0 no-repeat;
  z-index: 1;
  opacity: 0.5;
}

.main__button_blue {
  position: absolute;
  cursor: pointer;
  outline: none;
  display: inline-block;
  background: linear-gradient(to bottom, #31aed1 0%, #1096bc 100%);
  border-radius: 2px;
  color: white !important;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-family: 'MyriadPro-Semibold';
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: none;
  transition: all ease 0.3s;
  overflow: hidden;
  /* height: 40px;
  width: 160px; */
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

.main__button_gray {}

/* family members below */
/* mom */
.main__mom {
  /* background: url('../img/mom.png') 0 0 no-repeat; */
  left: 39.53%;
  right: 37.88%;
  top: 17.41%;
  bottom: 76.24%;
  transform: rotate(-10deg);
  z-index: 10;
}

.main__mom_rectangle-white-left {
  /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
  left: 22.24%;
  right: 51.29%;
  top: 19.65%;
  bottom: 78.18%;
  transform: rotate(-10deg);
  z-index: 3;
}

.main__mom_rectangle-red-left {
  /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
  left: 25.69%;
  right: 50.89%;
  top: 21.28%;
  bottom: 77.88%;
  transform: rotate(-10deg);
  z-index: 4;
}

.main__button_blue_mom {
  left: 27.3%;
  right: 58.38%;
  top: 22.41%;
  bottom: 77%;
  transform: rotate(-10deg);
}

/* son */
.main__son {
  /* background: url('../img/son.png') 0 0 no-repeat; */
  left: 37.78%;
  right: 39.64%;
  top: 29.42%;
  bottom: 64.23%;
  transform: rotate(10deg);
  z-index: 10;
}

.main__son_rectangle-white-right {
  /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
  left: 51.49%;
  right: 22.04%;
  top: 31.51%;
  bottom: 66.32%;
  transform: rotate(10deg);
  z-index: 3;
}

.main__son_rectangle-red-right {
  /* background: url('../img/rectangle-red-right.svg') 0 0 no-repeat; */
  left: 50.94%;
  right: 25.64%;
  top: 33.26%;
  bottom: 65.9%;
  transform: rotate(10deg);
  z-index: 4;
}

.main__button_blue_son {
  left: 58.19%;
  right: 27.49%;
  top: 34.76%;
  bottom: 64.65%;
  transform: rotate(10deg);
}

/* dad */
.main__dad {
  /* background: url('../img/dad.png') 0 0 no-repeat; */
  left: 35.94%;
  right: 41.48%;
  top: 43.86%;
  bottom: 49.8%;
  transform: rotate(-10deg);
  z-index: 10;
}

.main__dad_rectangle-white-left {
  /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
  left: 18.65%;
  right: 54.88%;
  top: 46.09%;
  bottom: 51.74%;
  transform: rotate(-10deg);
  z-index: 3;
}

.main__dad_rectangle-red-left {
  /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
  left: 22.09%;
  right: 54.49%;
  top: 47.72%;
  bottom: 51.44%;
  transform: rotate(-10deg);
  z-index: 4;
}

.main__button_blue_dad {
  left: 23.71%;
  right: 61.97%;
  top: 48.85%;
  bottom: 50.56%;
  transform: rotate(-10deg);
}

/* granddad */
.main__ded {
  /* background: url('../img/ded.png') 0 0 no-repeat; */
  left: 38.82%;
  right: 38.6%;
  top: 58.01%;
  bottom: 35.64%;
  transform: rotate(10deg);
  z-index: 10;
}

.main__ded_rectangle-white-right {
  /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
  left: 52.53%;
  right: 21%;
  top: 60.1%;
  bottom: 37.73%;
  transform: rotate(10deg);
  z-index: 3;
}

.main__ded_rectangle-red-right {
  left: 51.98%;
  right: 24.6%;
  top: 61.84%;
  bottom: 37.31%;
  transform: rotate(10deg);
  z-index: 4;
}

.main__button_blue_ded {
  left: 59.23%;
  right: 26.45%;
  top: 63.35%;
  bottom: 36.06%;
  transform: rotate(10deg);
}

/* family members above */
.main__img_cornman {
  left: 38.18%;
  right: 19.06%;
  top: 2.26%;
  bottom: 92.02%;
  background: url('../img/cornman.png') 0 0 no-repeat;
}

.main__img_flower1 {
  left: -8.87%;
  right: 63.76%;
  top: 14%;
  bottom: 74.83%;
  transform: rotate(-5deg);
  background: url('../img/flower1.png') 0 0 no-repeat;
  z-index: 2;
}

.main__img_lupa {
  left: 40.59%;
  right: -10.52%;
  top: 11.5%;
  bottom: 82.78%;
  background: url('../img/lupa.png') 0 0 no-repeat;
  z-index: 2;
}

.main__img_controller {
  left: 36.59%;
  right: 27%;
  top: 24.08%;
  bottom: 70.26%;
  transform: rotate(5deg);
  background: url('../img/controller.png') 0 0 no-repeat;
  z-index: 2;
}

.main__img_headphones {
  left: -14.33%;
  right: 72.62%;
  top: 29.13%;
  bottom: 59.96%;
  transform: rotate(-28deg);
  z-index: 2;
  background: url('../img/headphones.png') 0 0 no-repeat;
}

.main__img_helicopter {
  left: 69.56%;
  right: -19.91%;
  top: 25.81%;
  bottom: 60.59%;
  transform: rotate(45deg);
  z-index: 11;
  background: url('../img/helicopter.png') 0 0 no-repeat;
}

.main__img_car {
  left: 31.87%;
  right: 44.63%;
  top: 35.8%;
  bottom: 55.12%;
  transform: rotate(40deg);
  z-index: 2;
  background: url('../img/car.png') 0 0 no-repeat;
}

.main__img_phone {
  left: -27.23%;
  right: 81.53%;
  top: 39.5%;
  bottom: 48.99%;
  transform: rotate(22deg);
  z-index: 2;
  background: url('../img/phone.png') 0 0 no-repeat;
}

.main__img_clamps {
  left: 54.58%;
  right: 31.3%;
  top: 39.45%;
  bottom: 57.84%;
  background: url('../img/clamps.png') 0 0 no-repeat;
  z-index: 2;
}

.main__img_ball {
  left: 69.68%;
  right: 0%;
  top: 41.06%;
  bottom: 48.25%;
    z-index: 2;
  background: url('../img/ball.png') 0 0 no-repeat;
}

.main__img_keys {
  left: 13.64%;
  right: 56.3%;
  top: 46%;
  bottom: 45%;
  transform: rotate(-84deg);
  background: url('../img/keys.png') 0 0 no-repeat;
  z-index: 2;
}

.main__img_flower2 {
  left: 42.24%;
  right: 10.42%;
  top: 49.98%;
  bottom: 38.75%;
  z-index: 11;
  background: url('../img/flower2.png') 0 0 no-repeat;
}

.main__img_mag {
  left: -23.15%;
  right: 65.29%;
  top: 56.84%;
  bottom: 24.78%;
  transform: rotate(-16deg);
  z-index: 2;
  background: url('../img/mag.png') 0 0 no-repeat;
}

.main__img_pine {
  left: 21.55%;
  right: 66.16%;
  top: 58.32%;
  bottom: 37.76%;
  transform: matrix(-0.62, 0.79, 0.79, 0.62, 0, 0);
  z-index: 3;
  background: url('../img/pine.png') 0 0 no-repeat;
}

.main__img_rod {
  left: -23.15%;
  right: 65.29%;
  top: 56.84%;
  bottom: 24.78%;
  /* box-shadow: 38px 40px 50px rgba(0, 0, 0, 0.0890512), 0px 32px 24px rgba(0, 0, 0, 0.120245); */
  transform: rotate(13deg);
  z-index: 2;
  background: url('../img/rod.png') 0 0 no-repeat;
}

.main__img_corn2 {
  left: 63.07%;
  right: 18.75%;
  top: 67.22%;
  bottom: 28.48%;
  z-index: 2;
  background: url('../img/corn2.png') 0 0 no-repeat;
}

.main__img_clipboard {
  left: 19.81%;
  right: 19.21%;
  top: 78.03%;
  bottom: 1.71%;
  transform: rotate(-6deg);
  background: url('../img/clipboard.png') 0 0 no-repeat;
}

.main__button_buy {
  left: 44.45%;
  right: 46.7%;
  top: 81.75%;
  bottom: 17.71%;
  transform: rotate(-6deg);
}

.main__button_learn-more {
  left: 53.82%;
  right: 36.29%;
  top: 93.75%;
  bottom: 5.71%;
  transform: rotate(-6deg);
}

.main__button_all-recipies {
  left: 65.21%;
  right: 25.93%;
  top: 93.47%;
  bottom: 5.99%;
  transform: rotate(-6deg);
}

/* only for up to 375px below */
.main__secret-of-taste_img {
    background: url('../img/tin.png') 0 0 no-repeat;
  left: -26.67%;
  right: 4%;
  top: 71.68%;
  bottom: 24.66%;
}

.main__secret-of-taste_h3 {
  left: -3.67%;
  right: 4%;
  top: 71.4%;
  bottom: 24.66%;
}

.main__secret-of-taste_p {
  font-family: MyriadPro;
line-height: 22px;
font-size: 16px;
text-align: center;
letter-spacing: 0.16px;
color: #050505;
  height: 88px;
  left: 9.33%;
  right: 9.07%;
  top: calc(50% - 88px/2 + 2491.4px);
}

.main__pros_h4 {
  height: 24px;
  left: 12.8%;
  right: 50.4%;
  top: calc(50% - 24px/2 + 2718px);
}

.main__pros_ul {
  height: 150px;
  left: 9.87%;
  right: 42.13%;
  top: calc(50% - 150px/2 + 2820.4px);
}

.main__pros_img {
  left: 7.47%;
  right: 7.47%;
  top: 82.05%;
  bottom: 15.94%;
}

.main__recipie_h3 {
  left: 9.33%;
  right: 9.07%;
  top: 85.23%;
  bottom: 13.43%;
}

.main__recipie_p {
  height: 88px;
  left: 12.53%;
  right: 12.27%;
  top: calc(50% - 88px/2 + 3403.4px);
}

.main__recipie_img {
  left: 0%;
  right: 0%;
  top: 87.93%;
  bottom: 8.05%;
}

.main__recipie_h4 {
  left: 9.87%;
  right: 5.87%;
  top: 92.22%;
  bottom: 7.26%;
}

.main__recipie_separating-block {
  left: 10.13%;
  right: 79.2%;
  top: 93.07%;
  bottom: 6.84%;
  background-color: #58B753;
}

.main__recipie_img {
  left: 9.87%;
  right: 10.67%;
  top: 93.48%;
  bottom: 3.91%;
}

/* only for up to 375px above */
@media (max-width: 375px) {
  main {
    height: 9190px;
  }

  .main__oval1, .main__oval3, .main__oval5, .main__oval6, .main__oval7,
  .main__oval11, .main__oval12, .main__oval13, .main__oval15, .main__img_phone,
  .main__img_headphones, .main__img_clamps, .main__img_car, .main__img_keys,
  .main__img_pine, .main__img_mag, .main__img_corn2, .main__img_clipboard,
  .main__img_helicopter {
    display: none;
  }

  h1 {
    font-family: MyriadPro;
    line-height: normal;
    font-size: 34px;
    text-align: center;
    text-transform: uppercase;
  }

  .main__who-did-it_h1 {
    left: 9.33%;
    right: 9.07%;
    top: 2.08%;
    bottom: 97.03%;
  }

  .main__who-did-it_p {
    font-family: MyriadPro;
    line-height: 22px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.16px;
    height: 66px;
    left: 10.13%;
    right: 10.13%;
    top: calc(50% - 66px/2 - 4289.6px);
  }

  .main__oval2 {
    left: -13.6%;
    right: -13.33%;
    top: 0.23%;
    bottom: 94.59%;
  }

  .main__oval4 {
    left: -7.47%;
    right: -7.73%;
    top: 5.83%;
    bottom: 89.47%;
  }

  .main__oval8 {
    left: 28%;
    right: -92.53%;
    top: 12.46%;
    bottom: 80.83%;
  }

  .main__oval9 {
    left: -59.2%;
    right: 34.13%;
    top: 38.65%;
    bottom: 56.25%;
  }

  .main__oval10 {
    left: -66.13%;
    right: 41.07%;
    top: 55.47%;
    bottom: 39.42%;
  }

  .main__oval14 {
    left: -34.13%;
    right: 36.53%;
    top: 65.93%;
    bottom: 30.09%;
  }

  .main__path {
    left: 0%;
    right: 10.67%;
    top: 4.7%;
    bottom: 36.87%;
    background: url('../img/path-2.svg') 0 0 no-repeat;
    z-index: 1;
  }

  /* family members below */
  /* mom */
  .main__mom {
    /* background: url('../img/mom.png') 0 0 no-repeat; */
    left: 3.73%;
    right: 3.76%;
    top: 15.34%;
    bottom: 80.12%;
    transform: none;
  }

  .main__mom_rectangle-white-left {
    /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
    left: 3.47%;
    right: 3.68%;
    top: 20.21%;
    bottom: 77.86%;
    transform: none;
  }

  .main__mom_rectangle-red-left {
    /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
    left: 10.13%;
    right: 9.96%;
    top: 21.76%;
    bottom: 77.49%;
    transform: none;
  }

  .main__button_blue_mom {
    left: 14.13%;
    right: 12.53%;
    top: 22.84%;
    bottom: 76.63%;
    transform: none;
  }

  /* son */
  .main__son {
    /* background: url('../img/son.png') 0 0 no-repeat; */
    left: 3.73%;
    right: 3.76%;
    top: 29.53%;
    bottom: 65.93%;
    transform: none;
  }

  .main__son_rectangle-white-right {
    /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
    left: 3.47%;
    right: 3.68%;
    top: 34.4%;
    bottom: 63.67%;
    transform: none;
  }

  .main__son_rectangle-red-right {
    /* background: url('../img/rectangle-red-right.svg') 0 0 no-repeat; */
    left: 10.13%;
    right: 9.96%;
    top: 35.95%;
    bottom: 63.3%;
    transform: none;
  }

  .main__button_blue_son {
    left: 14.13%;
    right: 12.53%;
    top: 37.03%;
    bottom: 62.44%;
    transform: none;
  }

  /* dad */
  .main__dad {
    /* background: url('../img/dad.png') 0 0 no-repeat; */
    left: 3.73%;
    right: 3.76%;
    top: 41.86%;
    bottom: 53.61%;
    transform: none;
  }

  .main__dad_rectangle-white-left {
    /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
    left: 3.47%;
    right: 3.68%;
    top: 46.72%;
    bottom: 51.34%;
    transform: none;
  }

  .main__dad_rectangle-red-left {
    /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
    left: 10.13%;
    right: 9.96%;
    top: 48.28%;
    bottom: 50.97%;
    transform: none;
  }

  .main__button_blue_dad {
    left: 14.13%;
    right: 12.53%;
    top: 49.36%;
    bottom: 50.12%;
    transform: none;
  }

  /* granddad */
  .main__ded {
    /* background: url('../img/ded.png') 0 0 no-repeat; */
    left: 3.73%;
    right: 3.76%;
    top: 57.26%;
    bottom: 38.21%;
    transform: none;
  }

  .main__ded_rectangle-white-right {
    /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
    left: 3.47%;
    right: 3.68%;
    top: 62.12%;
    bottom: 35.94%;
    transform: none;
  }

  .main__ded_rectangle-red-right {
    left: 10.13%;
    right: 9.96%;
    top: 63.68%;
    bottom: 35.57%;
    transform: none;
  }

  .main__button_blue_ded {
    left: 14.13%;
    right: 12.53%;
    top: 64.76%;
    bottom: 34.72%;
    transform: none;
  }

  /* family members above */
  .main__img_cornman {
    left: -32%;
    right: 0.53%;
    top: 5.73%;
    bottom: 91.2%;
  }

  .main__img_flower1 {
    left: -25.4%;
    right: 12.47%;
    top: 22.5%;
    bottom: 71.58%;
    transform: rotate(-5deg);
  }

  .main__img_lupa {
    left: -2.32%;
    right: -93.75%;
    top: 11.47%;
    bottom: 85.41%;
  }

  .main__img_controller {
    left: 37.94%;
    right: -60.74%;
    top: 36.6%;
    bottom: 58.55%;
    transform: rotate(5deg);
  }

  .main__img_ball {
    left: 53.13%;
    right: -21.6%;
    top: 48%;
    bottom: 46.2%;
  }

  .main__img_flower2 {
    left: -50.67%;
    right: 22.67%;
    top: 49.6%;
    bottom: 42.74%;
  }

  .main__img_rod {
    left: -31.84%;
    right: -152.96%;
    top: 62.32%;
    bottom: 28.43%;
    transform: rotate(13deg);
  }

  .main__back_1 {
    left: 0%;
    right: 0%;
    top: 0.42%;
    bottom: 28.94%;
  }

  .main__button_buy {
    left: 27.47%;
    right: 27.2%;
    top: 77.9%;
    bottom: 21.62%;
    transform: none;
  }

  .main__button_learn-more {
    left: 24.8%;
    right: 24.53%;
    top: 96.89%;
    bottom: 2.63%;
    transform: none;
  }

  .main__button_all-recipies {
    left: 24.53%;
    right: 24.8%;
    top: 97.69%;
    bottom: 1.83%;
    transform: none;
  }
}

@media (min-width: 376px) and (max-width: 1280px) {

  .main__oval1, .main__oval6, .main__oval16, .main__img_phone,
  .main__info-box-container, .main__back_2 {
    display: none;
  }

  .main__who-did-it_h1 {
    left: 5.22%;
    right: 59.11%;
    top: 3.79%;
    bottom: 94.71%;
  }

  .main__who-did-it_p {
    font-family: MyriadPro;
    line-height: 24px;
    font-size: 20px;
    letter-spacing: 0.2px;
    left: 5.22%;
    right: 63.16%;
    top: 5.16%;
    bottom: 93.97%;
  }

  .main__oval2 {
    left: -12.54%;
    right: 54.52%;
    top: 0.44%;
    bottom: 90.48%;
  }

  .main__oval3 {
    left: 8.88%;
    right: 82.17%;
    top: 8.59%;
    bottom: 90%;
  }

  .main__oval4 {
    left: 49.77%;
    right: 4.52%;
    top: 3.49%;
    bottom: 89.36%;
  }

  .main__oval5 {
    left: 90.73%;
    right: -4.31%;
    top: 1.9%;
    bottom: 95.97%;
  }

  .main__oval7 {
    left: 16.36%;
    right: 64.41%;
    top: 10.68%;
    bottom: 86.31%;
  }

  .main__oval8 {
    left: 54.36%;
    right: -17.29%;
    top: 12.64%;
    bottom: 77.51%;
  }

  .main__oval9 {
    left: 52.02%;
    right: 11.45%;
    top: 25.49%;
    bottom: 68.79%;
  }

  .main__oval10 {
    left: -29.75%;
    right: 51.95%;
    top: 28.92%;
    bottom: 58.91%;
  }

  .main__oval11 {
    left: 46.96%;
    right: -24.77%;
    top: 43.96%;
    bottom: 43.86%;
  }

  .main__oval12 {
    left: -15.58%;
    right: 87.54%;
    top: 50.19%;
    bottom: 45.03%;
  }

  .main__oval13 {
    left: 94.7%;
    right: -31.23%;
    top: 57.75%;
    bottom: 36.02%;
  }

  .main__oval14 {
    left: -20.72%;
    right: 37.77%;
    top: 61.21%;
    bottom: 25.81%;
  }

  .main__oval15 {
    left: 50%;
    right: -32.94%;
    top: 75.18%;
    bottom: 11.84%;
  }

  .main__path {
    left: -4.13%;
    right: -3.82%;
    top: 6.04%;
    bottom: 33.17%;
  }

  /* family members below */
  /* mom */
  .main__mom {
    /* background: url('../img/mom.png') 0 0 no-repeat; */
    left: 34.43%;
    right: 31.8%;
    top: 17.41%;
    bottom: 76.24%;
    transform: rotate(-10deg);
  }

  .main__mom_rectangle-white-left {
    /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
    left: 8.57%;
    right: 51.85%;
    top: 19.65%;
    bottom: 78.18%;
    transform: rotate(-10deg);
  }

  .main__mom_rectangle-red-left {
    /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
    left: 13.72%;
    right: 51.26%;
    top: 21.28%;
    bottom: 77.88%;
    transform: rotate(-10deg);
  }

  .main__button_blue_mom {
    left: 16.13%;
    right: 62.45%;
    top: 22.41%;
    bottom: 77%;
    transform: rotate(-10deg);
  }

  /* son */
  .main__son {
    /* background: url('../img/son.png') 0 0 no-repeat; */
    left: 31.8%;
    right: 34.43%;
    top: 29.42%;
    bottom: 64.23%;
    transform: rotate(10deg);
  }

  .main__son_rectangle-white-right {
    /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
    left: 52.3%;
    right: 8.12%;
    top: 31.51%;
    bottom: 66.32%;
    transform: rotate(10deg);
  }

  .main__son_rectangle-red-right {
    /* background: url('../img/rectangle-red-right.svg') 0 0 no-repeat; */
    left: 51.48%;
    right: 13.5%;
    top: 33.26%;
    bottom: 65.9%;
    transform: rotate(10deg);
  }

  .main__button_blue_son {
    left: 62.32%;
    right: 16.26%;
    top: 34.76%;
    bottom: 64.65%;
    transform: rotate(10deg);
  }

  /* dad */
  .main__dad {
    /* background: url('../img/dad.png') 0 0 no-repeat; */
    left: 29.05%;
    right: 37.18%;
    top: 43.86%;
    bottom: 49.8%;
    transform: rotate(-10deg);
  }

  .main__dad_rectangle-white-left {
    /* background: url('../img/rectangle-white-left.svg') 0 0 no-repeat; */
    left: 3.2%;
    right: 57.23%;
    top: 46.09%;
    bottom: 51.74%;
    transform: rotate(-10deg);
  }

  .main__dad_rectangle-red-left {
    /* background: url('../img/rectangle-red-left.svg') 0 0 no-repeat; */
    left: 8.35%;
    right: 56.63%;
    top: 47.72%;
    bottom: 51.44%;
    transform: rotate(-10deg);
  }

  .main__button_blue_dad {
    left: 10.76%;
    right: 67.82%;
    top: 48.85%;
    bottom: 50.56%;
    transform: rotate(-10deg);
  }

  /* granddad */
  .main__ded {
    /* background: url('../img/ded.png') 0 0 no-repeat; */
    left: 33.36%;
    right: 32.87%;
    top: 58.01%;
    bottom: 35.64%;
    transform: rotate(10deg);
  }

  .main__ded_rectangle-white-right {
    /* background: url('../img/rectangle-white-right.svg') 0 0 no-repeat; */
    left: 53.86%;
    right: 6.56%;
    top: 60.1%;
    bottom: 37.73%;
    transform: rotate(10deg);
  }

  .main__ded_rectangle-red-right {
    left: 53.04%;
    right: 11.94%;
    top: 61.84%;
    bottom: 37.31%;
    transform: rotate(10deg);
  }

  .main__button_blue_ded {
    left: 63.88%;
    right: 14.71%;
    top: 63.35%;
    bottom: 36.06%;
    transform: rotate(10deg);
  }

  /* family members above */

  .main__img_cornman {
    left: 37.22%;
    right: 0.48%;
    top: 2.54%;
    bottom: 92.02%;
  }

  .main__img_lupa {
    left: 44%;
    right: -49.4%;
    top: 11.5%;
    bottom: 83%;
  }

  .main__img_flower1 {
    left: -25.95%;
    right: 67.5%;
    top: 13%;
    bottom: 75.83%;
    transform: rotate(-5deg);
  }

  .main__img_controller {
    left: 30.03%;
    right: 15.53%;
    top: 24.08%;
    bottom: 70.26%;
    transform: rotate(5deg);
  }

  .main__img_headphones {
    left: -17.12%;
    right: 55.74%;
    top: 25.13%;
    bottom: 57%;
    transform: rotate(-28deg);
  }

  .main__img_helicopter {
    left: 74.72%;
    right: -80.02%;
    top: 24.81%;
    bottom: 58.2%;
    transform: rotate(45deg);
  }

  .main__img_car {
    left: 17.44%;
  right: 39.39%;
  top: 36.8%;
  bottom: 56.12%;
    transform: rotate(40deg);
  }

  .main__img_clamps {
    left: 56.93%;
    right: 23.96%;
    top: 39.45%;
    bottom: 57.84%;
  }

  .main__img_ball {
    left: 70.66%;
    right: -23.99%;
    top: 41.56%;
    bottom: 48.25%;
  }

  .main__img_keys {
    left: -0.28%;
    right: 69.73%;
    top: 47.43%;
    bottom: 45.45%;
    transform: rotate(-84deg);
  }

  .main__img_flower2 {
    left: 38.47%;
    right: -9.27%;
    top: 48.98%;
    bottom: 39.75%;
  }

  .main__img_mag {
    left: -50.94%;
    right: 71.41%;
    top: 55.95%;
    bottom: 25.67%;
    transform: rotate(-16deg);
  }

  .main__img_pine {
    left: 4.54%;
    right: 79.08%;
    top: 58.32%;
    bottom: 37.76%;
    transform: matrix(-0.62, 0.79, 0.79, 0.62, 0, 0);
  }

  .main__img_rod {
    left: -10.92%;
    right: -86.09%;
    top: 56.74%;
    bottom: 17.9%;
  }

  .main__img_corn2 {
    left: 67.06%;
    right: 5.76%;
    top: 67.22%;
    bottom: 28.48%;
  }

  .main__img_clipboard {
    left: 2.46%;
    right: -3.14%;
    top: 78.03%;
    bottom: 0.71%;
    transform: rotate(-6deg);
  }

  .main__button_buy {
    left: 41.78%;
    right: 44.98%;
    top: 81.75%;
    bottom: 17.71%;
    transform: rotate(-6deg);
  }

  .main__button_learn-more {
    left: 55.79%;
    right: 29.41%;
    top: 93.75%;
    bottom: 5.71%;
    transform: rotate(-6deg);
  }

  .main__button_all-recipies {
    left: 72.83%;
    right: 13.93%;
    top: 93.47%;
    bottom: 5.99%;
    transform: rotate(-6deg);
  }
}

@media (min-width: 1281px) {
  .main__back_2 {
    display: none;
  }
}

@media (min-width: 376px) {

  .main__secret-of-taste_img, .main__secret-of-taste_h3, .main__secret-of-taste_p,
  .main__pros_h4, .main__pros_ul, .main__pros_img, .main__recipie_h3,
  .main__recipie_p, .main__recipie_img, .main__recipie_h4,
  .main__recipie_separating-block, .main__recipie_img {
    display: none
  }
}
